.admin__menu {
  position: relative;
}

.page--admin .main_content {
  align-items: center;
}

.admin__actions-menu {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(253, 253, 253, 0.7);
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.admin__actions {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  background: rgb(253, 253, 253);
  border-radius: 5px;
  border: 1px solid #1c1c1c;
}

.admin__actions__item {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  background: none;
}

.admin__actions__item:hover {
  background: #e5e5f1;
}

.block--admin{
  position: relative;
}

.block--admin .block__main {
  gap: 0;
  width: 100%;
}

.admin__menu__option {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.admin__menu__option:hover {
  background: rgb(253, 253, 253);
}

.admin__list__option {
  position: relative;
}

.block__images .admin__list__option {
  max-width: 220px;
  width: 100%;
  min-width: 0;
}

.option__hover {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(253, 253, 253, 0);
  border-radius: 5px;
  z-index: 4;
  cursor: pointer;
}

.option__hover h3 {
  color: transparent;
}

.option__hover:hover {
  background: rgba(253, 253, 253, 0.7);
}

.option__hover:hover h3 {
  color: #1c1c1c;
}

.form {
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
  border: #1c1c1c 1px solid;
  resize: none;
}

.form:active{
  border: #1c1c1c 1px solid;
}

.form--text {
  min-height: 500px;
  resize: none;
  max-height: none;
  font-family: Merriweather;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  margin: 0;
  color: #1c1c1c;
}

.form--h3 {
  min-height: 200px;
  resize: none;
  max-height: none;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0%;
  margin: 0;
  color: #1c1c1c;
}

.form--url {
  min-height: 30px;
  max-width: 320px;
  resize: none;
  max-height: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
  color: #1c1c1c;
}

.admin__add-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.admin__add-photo button {
  width: 120px;
  height: 120px;
  border-radius: 5px;
  cursor: pointer;
  background: #fdfdfd;
  border: 1px solid #1c1c1c;
  cursor: pointer;
}

.admin__add-photo button:active{
  background: #e5e5f1;
}

.add-photo__menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding: 10px;
}

.page--admin .block--image{
  border: #1c1c1c 1px solid;
  border-radius: 5px;
}

.large_image__menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  padding: 20px;
  background: rgba(253, 253, 253, 0.5);
}

@media screen and (max-width: 450px) {
  .block__images .admin__list__option {
    max-width: none;
    width: 100%;
    min-width: 0;
    height: 150px;
  }
}
