.block {
  color: rgb(28, 28, 28);
  /* Frame 2 */
  flex-grow: 1;
  min-width: 0;
  max-width: 830px;
  width: 100%;
  height: auto;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgb(238, 229, 241),
    rgb(206, 208, 227) 100%
  );
}

.block__read-more {
  color: rgb(28, 28, 28);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}

.block__main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8; /* Количество видимых строк */
    overflow: hidden;
    white-space: pre-wrap; /* Сохраняем переносы строк из HTML */
    word-wrap: break-word;
    margin: 0;
    color: rgb(28, 28, 28);
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
  }
  
   
  

.block__main__subsection {
  margin: 0;
  border-radius: 5px;
  background: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
}

.block__main__subsection .line {
  background-color: rgb(28, 28, 28);
}

@media screen and (max-width: 450px) {
    .block__text{
        max-height: 300px;
    }
}