.header__main {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  gap: 10px;
  background: rgb(36, 39, 63);
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.header__main button {
  border: 1px solid rgb(253, 253, 253);
  border-radius: 5px;
  background: rgba(253, 253, 253, 0.15);
  width: 60px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__main button:hover {
  background: rgba(253, 253, 253, 0.3);
}

.header__main button:active {
  background: rgba(253, 253, 253, 0.45);
}
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 690px; /* Max width of the container */
  width: 100%; /* Allow it to take full available width */
  gap: 0;
}

.search input {
  color: rgb(253, 253, 253);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;

  height: 34px;
  flex-grow: 1; /* Allows the input to expand */
  max-width: 630px; /* Maximum width it can grow to */
  min-width: 0; /* Ensures the input can shrink properly */
  width: 100%; /* Allows it to be fully responsive */
  border-radius: 50px 0 0 50px;
  background: rgb(36, 39, 63);
  border: 1px solid rgb(253, 253, 253);
  padding: 0 20px; /* Uniform padding for better text placement */
  box-sizing: border-box; /* Ensures padding is included in width */
  outline: none;
}

.search input:focus {
  border-radius: 50px 0 0 50px;
  background: rgb(36, 39, 63);
  border: 2px solid rgb(253, 253, 253);
}

.search button {
  border-radius: 0 50px 50px 0;
  border-left: 0;
  height: 34px; /* Ensure the button has the same height as input */
}

@media screen and (max-width: 450px) {
    .header__main button:first-child {
        display: none;
      }
}